*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    background-color: silver;
    padding: 0.5rem 0;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0.5rem 0;
}
.home-grid{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.room-grid{
    display: grid;
    grid-template-columns: 3fr 1fr;
}