<h3>Recent activities</h3>
<hr>
{% if room_messages %}
{% for message in room_messages %}
<div>
    <small><a href="{% url 'user_profile' message.user.id %}">@{{ message.user }}</a> {{ message.created|timesince }}</small>
    <small>Replied to "{{ message.room }}"</small> <br><br>
    {{ message.body }}
    {% if request.user == message.user %}
    <a href="{% url 'delete_message' message.id %}">Delete</a>
    {% endif %}
</div>
<hr>
<br>
{% endfor %}
{% else %}
<p>No recent activities yet</p>
{% endif %}
<a href="{% url 'activity' %}">View all</a>