{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="home-grid">
            <div class="sidebar">
                {% include 'base/topics_component.html' %}
            </div>
            <div class="main-content">
                <div class="flex a-center">
                    <h4>{{ room_count }} room{{ room_count|pluralize }} available</h4>
                    <a href="{% url 'create_room' %}" class="btn btn-light">Create room</a>
                </div>
                <hr class="my-3">
                {% include 'base/feed_component.html' %}
            </div>
            <div class="recent-activity">
                {% include 'base/activity_component.html' %}
            </div>
        </div>
    </div>
{% endblock %}