{% extends 'base.html' %}

{% block title %}Register or Login{% endblock %}

{% block content %}
    {% if page == 'login' %}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="uname">Email</label>
        <input type="text" name="email" id="uname" placeholder="Enter email">
        <label for="pass">Password</label>
        <input type="password" name="password" id="pass">
        <button type="submit">Login</button>
        <p>
            <small>Haven't signed up yet? <a href="{% url 'register' %}">Sign up</a></small>
        </p>
    </form>
    {% else %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
        <p>
            <small>Already have an account? <a href="{% url 'login' %}">Sign in</a></small>
        </p>
    </form>
    {% endif %}
{% endblock %}