{% extends 'base.html' %}

{% block title %}{{ user.username }}'s profile{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ user.username }}</h1>
    <small>@{{ user.username }}</small> <br>
    <img src="{{ user.avatar.url }}" style="width: 100px; height:100px; border-radius:50%" alt="">
    <br>
    <h5>Bio</h5>
    <p>{{ user.bio }}</p>
    {% if request.user == user %}
    
    <a href="{% url 'update_user' %}">Edit profile</a>
    {% endif %}
    <div class="home-grid">
        <div class="sidebar">
            {% include 'base/topics_component.html' %}
        </div>
        <div class="main-content">
            <a href="{% url 'create_room' %}">Create room</a><br>
            {% include 'base/feed_component.html' %}
        </div>
        <div class="recent-activity">
            {% include 'base/activity_component.html' %}
        </div>
    </div>
</div>
{% endblock %}