{% extends 'base.html' %}

{% block title %}Create or edit room {% endblock %}

{% block content %}
<div class="container">
    <form method="post" accept="">
        {% csrf_token %}
        <!-- {{ form.as_p }} One way of creating the form -->

        <!-- The second way
        {% for field in form %}
        <br>
        <label for="id_{{ field.name }}">{{ field.label }}</label> <br>
        {{ field }}
        {% endfor %} -->

        <!-- The third way  -->
        <label for="room_topic">Topic</label>
        <input type="text" name="topic" value="{{ room.topic.name }}" required list="topic-list">
        <datalist id="topic-list">
            <select name="" id="room-topic">
                {% for topic in topics %}
                <option value="{{ topic }}">{{ topic.title }}</option>
                {% endfor %}
            </select>
        </datalist>
        <label for="room_name">Room name</label>
        {{ form.name }}
        <br>
        <label for="room_description">Room description</label>
        {{ form.description }}
        <br>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}