<nav class="top-nav">
    <div class="container">
        <div class="navbar">
            <a href="{% url 'home' %}" class="logo">StudyApp</a>
            <form action="{% url 'home' %}" method="GET" class="navbar-form">
                <i class="bi bi-search"></i>
                <input type="text" name="q" placeholder="Search Rooms..." id="">
            </form>
            <ul class="menu">
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                    {% if request.user.is_authenticated %}
                    {% else %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                    {% endif %}
            </ul>
            
            <div class="auth-menu">
                {% if request.user.is_authenticated %}
                <div class="profile-flex">
                    <img src="{{ user.avatar.url }}" class="avatar" alt="">
                    <span>
                        <p>Hello {{ request.user.name }}</p>
                        <small>@{{ request.user.name }}</small>
                    </span>
                </div>
            <ul>
                <li>
                    <a href="{% url 'user_profile' user.id %}">Settings</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
            {% endif %}
            </div>
            
        </div>
    </div>
</nav>